/* Profile */
.profile-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
  width: 90vw;
  margin: 0 auto;
}

.profile-section h2 {
  font-size: 2.1rem;
  font-weight: bold;
  text-align: center;
  padding-top: 2rem;
  margin-bottom: 0.5rem;
}

.profile-section p {
  font-size: 1.1rem;
  margin-bottom: 1.5rem;
  text-align: justify;
  opacity: 0.9;
  width: 85vw;
}

.social-icons a {
  color: inherit;
  font-size: 1.3rem;
  margin: 0 1rem;
  transition: transform 0.3s;
  display: inline-block;
}

.social-icons a:hover {
  transform: translateY(-3px);
}


.featured-documents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90vw;
  margin: 0 auto;
}

.featured-documents h2 {
  align-self: center;
  font-size: 1.8rem;
  margin-top: 1.6rem;
  width: 100%;
}


.index-stat {
  display: flex;
  flex-direction: column;
  width: 50vw;
  justify-content: center;
  align-items: center;
}


#view-count {
  background-color: transparent;
  text-align: center;
  border: 1px solid rgba(128, 128, 128, 0.65);
  border-radius: 5px;
  padding: 0.4rem 0.8rem;
  margin-top: 1.2rem;
  width: 50%;
  font-size: 0.9rem;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease;
}



@media (min-width: 1024px) {
  .profile-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
  }

  .profile-section h2 {
    font-size: 3rem;
    font-weight: bold;
    padding-top: 3rem;
    margin-bottom: 0.5rem;
  }

  .profile-section p {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
    text-align: justify;
    opacity: 0.9;
    width: 40vw;
  }

  .social-icons a {
    color: inherit;
    font-size: 1.7rem;
    margin: 0 1rem;
    transition: transform 0.3s;
    display: inline-block;
  }

  .social-icons a:hover {
    transform: translateY(-3px);
  }

  .index-stat {
    display: flex;
    flex-direction: column;
    width: 30vw;
    justify-content: center;
    align-items: center;
  }

  /* Featured Documents */
  .featured-documents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 52vw;
    margin: 0 auto;
  }

  .featured-documents h2 {
    align-self: flex-start;
    width: 100%;
  }
}

