* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #FDFCFA;
  --primary-color: #1C1C1E;
  --secondary-color: #1A1110;
  --accent-color1: #880808;
  --accent-color2: #002147;
  --text-light: #f5f5f5;
  --text-dark: #1B1212;
  --transition: all 0.3s ease;
}

body {
  font-family: 'Times New Roman', Times, serif;
  line-height: 1.6;
  color: var(--text-dark);
  background-color: var(--bg-color);
}

p, h1, h2, h3, h4 {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

