<header>
  <nav class="navbar">
    <div class="nav-container">
      <a href="/" class="nav-logo">Enoch Yu</a>

      <button class="nav-toggle" id="navToggle" aria-label="Toggle navigation">
        <img src="/img/burger.svg" alt="Menu" class="icon-burger">
        <img src="/img/close.svg" alt="Close" class="icon-close">
      </button>

      <ul class="nav-menu" id="navMenu">
        <li><a href="/" class="nav-link {{ if .IsHome }}active{{ end }}">Home</a></li>
        <li><a href="/mathematics" class="nav-link {{ if eq .RelPermalink "/mathematics/" }}active{{ end }}">Mathematics</a></li>
        <li><a href="/programming" class="nav-link {{ if eq .RelPermalink "/programming/" }}active{{ end }}">Programming</a></li>
        <li><a href="/teaching" class="nav-link {{ if eq .RelPermalink "/teaching/" }}active{{ end }}">Teaching</a></li>
      </ul>
    </div>
  </nav>
</header>

