{{ range . }}
  <div class="list-item">
    <div>
      {{- range .links -}}
      {{ if .url }}
        <a href="{{ .url | relURL }}"
           target="_blank" rel="noopener noreferrer">{{ .label }}
        </a>
      {{ else }}
        <span>{{ .label }}</span>
      {{ end }}
      {{- end -}}
      <i class="far fa-eye" id="view-count"></i>
      <span class="view-count" unique-id="{{ .File.BaseFileName }}">
        Loading...</span>
    </div>
    <span>{{ .date }}</span>
  </div>
{{ end }}

